<div class="container-fluid contact">
    <div class="container">
        <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
            </div>


            <div class="row">
                <div class="col">
                    <textarea class="form-control" id="message" rows="7" placeholder="Your Message"></textarea>
                </div>
            </div>


            <div class="row">
                <div class="col hire-btn">
                  <button class="btn-a">HIRE US</button>
                </div>
                <div class="col link-btn">
                  <a href=""><img src="/assets/images/fb.png" alt=""></a>
                  <a href=""><img src="/assets/images/twt.png" alt=""></a>
                  <a href=""><img src="/assets/images/gog.png" alt=""></a>
                  <a href=""><img src="/assets/images/ball.png" alt=""></a>
                  <a href=""><img src="/assets/images/be.png" alt=""></a>
                </div>
              </div>
          </form>
    </div>
</div>