.nav{
  width: 100%;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  top: 50px;
  z-index: 9;
}

.grid{
  color: #ffffff;
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;



  .menu{
    display: grid;
    grid-template-columns: 10fr 1fr;
    vertical-align: start;
    text-align: right;
    top: 0;
  }
}

// .grid > div{
//   background: red;
// }

// .grid > :nth-child(odd){
//   background-color: #666;
// }
