.car-bg{
    color: #fff;
    padding: 100px;

    .testimonial-cont{
        text-align: center;

        p{
            width: 70%;
            margin: auto;
            font-style: italic;
            font-weight: 300;
            padding: 45px;
        }

        h3{
            font-size: 14px;
        }
    }

        img{
            border-radius: 100%;
            height: 100px;
            width: 100px;
        }
    
}

