.team{
    text-align: center;
    padding: 0 0 100px 0;
    color: #9da1a5;
    

    .image{
        -webkit-filter: grayscale(100%); //BNW
        filter: grayscale(100%);
        transition: 0.3s ease-in-out;
    }



    h3{
        font-size: 25px;
        margin: 30px 0;
        font-weight: 600;
    }

    p{
        width: 100%;
        margin: 0;
        font-size: 14px;
        font-weight: 300;
        padding: 0;
    }

    .link-prof{
        padding-bottom: 30px;
        -webkit-filter: grayscale(100%); //BNW
        filter: grayscale(100%);
        a{
            margin: 7.5px;

        }
    }
}

.team:hover{
    color: #000;
    transition: 0.3s ease-in-out;

    .image{
        transform: scale(1.1);
        border-bottom: 5px solid #f7600e;
        border-radius: 13px;
        transform-origin: bottom;
        // COLOR IN
        -webkit-filter: grayscale(0%);
        filter: none;
    }
    
    .link-prof{
        -webkit-filter: grayscale(0%);
        filter: none;
    }
    
    h3{
        margin-top: 25px;
    }
}

