<app-banner
[background]="home.background_image"
[heading]="home.heading"
[subtitle]="home.subtitle">
</app-banner>
<!--BANNER END-->

<div class="container">
    <div class="row no-gutters">
        <div class="col-lg-3" *ngFor="let s of services">
            <app-services 
            [icon]="s.acf.icon"
            [title]="s.acf.title"
            [description]="s.acf.description">
            </app-services>
        </div>
    </div>
</div>
<!--SERVICES END-->

<app-newsletter></app-newsletter>
<!-- NEWSLETTER END -->



<div class="container cont">
    <div class="captions">
        <h2 [innerHTML]="home.work_title"></h2>
        <p>{{ home.work_description }}</p>
    </div>
    <div class="row">
        <div class="col-lg-4" *ngFor="let w of works">
            <app-works
            [image]="w.acf.image"
            [title]="w.acf.title"
            [description]="w.acf.description">
            </app-works>
        </div>
    </div>
    <button class="btn-w">SHOW MORE</button>
</div>
<!--WORK END-->



<div class="testimonial-section">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner op-color">
          <div class="carousel-item" *ngFor="let test of testimonial; let i = index" [ngClass]="i == 1 ? 'active' : ''">
                <app-testimonial
                [image]="test.acf.image"
                [description]="test.acf.description"
                [name]="test.acf.name">
                </app-testimonial>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>

<!--TESTIMONIAL END-->>


<div class="container cont">
    <div class="captions">
        <h2 [innerHTML]="home.team_title"></h2>
        <p>{{ home.team_description }}</p>
    </div>
    <div class="row">
        <div class="col-lg-3" *ngFor="let t of team">
            <app-team
            [image]="t.acf.image"
            [name]="t.acf.name"
            [description]="t.acf.description"
            [facebook]="t.acf.facebook"
            [twitter]="t.acf.twitter"
            [google]="t.acf.google">
            </app-team>
        </div>        
    </div>
</div>

<!--TEAM END-->>

<div class="contact">
    <div class="container-fluid cont op-color">
            <div class="captions">
                <h2 [innerHTML]="home.contact_title"></h2>
                <p>{{ home.contact_description }}</p>
            <app-contact>
            </app-contact>       
        </div>
    </div>
</div>