.works-cont{
    text-align: center;
    padding: 100px 0;

    .captions{
        padding: 0;
        margin: 0;
    }

    h2{
        font-weight: 600;
        padding-bottom: 30px;
    }
    p{
        width: 455px;
        margin: auto;
        font-weight: 300;
        padding-bottom: 100px;
    }
}