.cont{
    text-align: center;
    padding: 100px 0;

    .captions{
        padding: 0;
        margin: 0;
        height: 100%;
    }

    h2{
        font-weight: 600;
        padding-bottom: 30px;
    }
    p{
        width: 455px;
        margin: auto;
        font-weight: 300;
        padding-bottom: 100px;
    }
}




.testimonial-section{
    background: url('/assets/images/lady.png');
    background-position: center center;
}



.contact{
    background: url('/assets/images/city.png');
    color: #fff;
    background-position: center center;
}