<app-banner
[background]="home.background_image"
[heading]="home.heading"
[subtitle]="home.subtitle">
</app-banner>

<div class="container">
    <div class="row no-gutters">
        <div class="col-lg-3" *ngFor="let s of services">
            <app-services 
            [icon]="s.acf.icon"
            [title]="s.acf.title"
            [description]="s.acf.description">
            </app-services>
        </div>
    </div>
</div>

<app-newsletter></app-newsletter>


<!-- <section class="container works-con">
    <div class=".captions">
        <h2>{{ home.work_title }}</h2>
        <p>{{ home.work_description }}</p>
        <app-works>

        </app-works>
    </div>
</section> -->
<div class="container cont">
    <div class="captions">
        <h2 [innerHTML]="home.work_title"></h2>
        <p>{{ home.work_description }}</p>
    </div>
    <div class="row">
        <div class="col-lg-4" *ngFor="let w of works">
            <app-works
            [image]="w.acf.image"
            [title]="w.acf.title"
            [description]="w.acf.description">
            </app-works>
        </div>
    </div>
</div>

<div class="container cont">
    <div class="captions">
        <h2 [innerHTML]="home.team_title"></h2>
        <p>{{ home.team_description }}</p>
    </div>
    <div class="row">
        <div class="col-lg-3" *ngFor="let t of team">
            <app-team
            [image]="t.acf.image"
            [name]="t.acf.name"
            [description]="t.acf.description"
            [facebook]="t.acf.facebook"
            [twitter]="t.acf.twitter"
            [google]="t.acf.google">
            </app-team>
        </div>        
    </div>
</div>

