<div class="banner" [ngStyle]="{'background-image': 'url(' + background + ')', 'height': height + 'vh'}">
 <div class="op-color">
  <div class="container ld-text">
      <h1 [innerHTML]="heading"></h1>
    <h4>
      {{ subtitle }}
    </h4>
    <div class="btns"> 
      <button class="btn-a"> 
        <a href="#">
          HIRE US
        </a>
      </button>
      <button class="btn-a"> 
        <a href="#">
          OUR WORKS
        </a>
      </button>
    </div>
  </div>
 </div> 
</div>
