.banner {
  background-size: cover;
  height: 100%;
  color: #ffffff;
  background-position: center;
  width: 100%;
  

  .ld-text{
    text-align: center;
    position: relative;
    height: auto;
    top: 40%;
    align-items: center;
    width: 50%;
  

    h1{
      font-weight: 900;
      font-size: 70px;
      margin-bottom: 25px;
    }
  }

  p{
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  a{
    color: #fff;
    text-decoration: none;
  }
}
